<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eam.mybatis.dao.ScrapDisposeMapper">

    <select id="createScrapEvent"
            parameterType="com.eam.mybatis.model.ScrapOrDisposeMessage" statementType="CALLABLE"
            resultType="com.eam.mybatis.model.AliResultProcedure">
        EXEC dbo.U5PRO_CREATE_SCRAPEVENT  #{corp},
                                          #{ouCode},
                                          #{evtJobType},
                                          #{evtStatus},
                                          #{evtDesc},
                                          #{department},
                                          #{personCode},
                                          #{personName},
                                          #{scrapType},
                                          #{disposeType},
                                          #{secureType},
                                          #{comments},
                                          #{reason},
                                          #{evtCode},
                                          #{language}
    </select>

    <update id="updateDetailEvents" parameterType="map" statementType="CALLABLE">
        exec dbo.U5PRO_CREATE_EVTOBJECTLIST #{evtCode},
                                            #{objCode},
                                            #{FAAssetType},
                                            #{originValue},
                                            #{netValue},
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            null,
                                            #{language}
    </update>

    <update id="cleanDetailEvents" parameterType="map" statementType="CALLABLE">
        exec dbo.U5PRO_CLEAN_EVTOBJECTLIST #{evtCode}
    </update>

    <select id="queryEventHeader" parameterType="map" resultType="com.eam.mybatis.model.ScrapOrDisposeMessage">
        SELECT EVT_CODE AS evtCode,
               EVT_DESC AS evtDesc,
               EVT_JOBTYPE AS evtJobtype,
               dbo.R5O7_O7GET_DESC(#{language},'UCOD',EVT_JOBTYPE, 'JBTP', 'JBTP')  AS JobTypeDesc,
               EVT_ORG as corp,
               dbo.R5O7_O7GET_DESC(#{language},'ORG',EVT_ORG, '', '')  AS corpDesc,
               EVT_UDFCHAR08 AS ouCode,
               EVT_MRC AS department,
               dbo.R5O7_O7GET_DESC(#{language},'MRC',EVT_MRC, '', '')  as departmentDesc,
               EVT_ORIGIN AS personCode,
               EVT_UDFCHAR20 AS personName,
               EVT_CREATED AS duedate,
               EVT_STATUS AS evtStatus,
               dbo.R5O7_O7GET_DESC(#{language},'UCOD',EVT_STATUS, 'EVST', 'EVST')  as statusDesc,
               EVT_UDFCHAR12 AS scrapType,
               EVT_UDFCHAR22 AS scrapTypeDesc,
               (SELECT SCT_FATYPE FROM U5SCRAPTYPES WHERE ISNULL(SCT_NOTUSED,'-') = '-' AND SCT_TYPECODE = EVT_UDFCHAR12) AS faScrapType,
               EVT_UDFCHAR13 AS disposeType,
               EVT_UDFCHAR23 AS disposeTypeDesc,
               EVT_WORKADDRESS AS comments,
               EVT_FROMREFDESC AS reason
        FROM R5EVENTS
        WHERE EVT_CODE = #{evtCode}
        and evt_jobtype = #{evt_jobtype}
    </select>

    <select id="queryEventItems" parameterType="map" resultType="com.eam.mybatis.model.ScrapLine">
        SELECT EOL_OBJCODE  assetCode,
               EOL_OBJDESC  assetDesc,
               EOL_OBJFIXCODE  fixAssetCode,
               EOL_OBJOUCODE  ouCode,
               EOL_OBJOUDESC  ouName,
               EOL_OBJORG  corp,
               EOL_OBJUSAGE  usage,
               EOL_OBJUSAGEDESC  usageDesc,
               EOL_OBJFATYPE  faAssetType,
               EOL_OBJUSEMONTH  usageMonth,
               EOL_OBJINITDATE  initDate,
               EOL_OBJSERIALNO  serialNo,
               EOL_FEATUREDESC  featureDesc,
               EOL_OBJOWNER  ownerNo,
               EOL_OWNERDESC  ownerDesc,
               EOL_OBJDEPNO  depNo,
               EOL_OBJDEPDESC  depDesc,
               EOL_OBJUSERNO  userNo,
               EOL_OBJUSERDESC  userDesc,
               EOL_MANAGETYPE  manageType,
               EOL_ORIGINVALUE  originValue,
               EOL_NETVALUE  netValue,
               EOL_SCRAPMONTH  scrapMonth,
               EOL_OBJPARTCODE  partCode,
               EOL_OBJPARTDESC  partDesc,
               EOL_OBJSTATUS  assetStatus,
               EOL_OBJSTATUSDESC  assetStatusDesc,
               EOL_IFSCRAP  ifScrap,
               EOL_OBJPARTCODE  assetType
          FROM U5EVTOBJLIST
         WHERE EOL_EVTCODE = #{evtCode}
    </select>

    <insert id="insertEventFiles"
            parameterType="com.eam.mybatis.model.Attachment">
        insert into U5EVENTFILE (wof_wo, wof_line, wof_filename, wof_url, wof_bidline)
        values (#{eventCode}, #{line}, #{name}, #{url}, #{bidLine})
    </insert>

    <select id="queryEventFiles" parameterType="map" resultType="com.eam.mybatis.model.Attachment">
        SELECT WOF_WO AS eventCode,
               WOF_LINE AS line,
               WOF_URL  AS url,
               WOF_FILENAME AS name
          FROM U5EVENTFILE
         WHERE WOF_WO = #{evtCode} and WOF_BIDLINE IS NULL
    </select>

    <select id="queryQuotationFiles" parameterType="map" resultType="com.eam.mybatis.model.Attachment">
        SELECT WOF_WO AS eventCode,
               WOF_LINE AS line,
               WOF_URL  AS url,
               WOF_FILENAME AS name,
          FROM U5EVENTFILE
         WHERE WOF_WO = #{evtCode} and WOF_BIDLINE = #{bidCode}
    </select>

    <update id="insertQuotationsLines" parameterType="com.eam.mybatis.model.Quotation" statementType="CALLABLE">
        exec U5PRO_CREATE_BIDLINES #{code},#{supplier},#{price},#{selected},#{payer},#{comments},#{evtCode},#{supplierDesc},#{currency}
    </update>

    <select id="queryEventQuotations" parameterType="map" resultType="com.eam.mybatis.model.Quotation">
        SELECT SBL_CODE AS code,
            SBL_SUPPLIER AS supplier,
            SBL_QUOTATION AS price,
            SBL_SELECTED AS selected,
            SBL_PAYER AS payer,
            SBL_COMMENT AS comments,
            SBL_SUPPLIERDESC AS supplierDesc,
            SBL_CURRENCY AS currency
        FROM U5SUPPLIERSBIDLIST WHERE SBL_EVTCODE = #{evtCode}
    </select>

    <update id="updateFAScrapResult" parameterType="map">
        UPDATE R5OBJECTS
           SET OBJ_UDFCHAR26 = #{faResult}
         WHERE OBJ_CODE = #{assetCode}
           and OBJ_OBTYPE = 'A'
           AND ISNULL(OBJ_NOTUSED,'-') = '-'
    </update>

    <delete id="cleanQuotationsLines" parameterType="String">
        delete from U5SUPPLIERSBIDLIST where SBL_EVTCODE = #{evtCode}
    </delete>

    <delete id="cleanQuatationFiles" parameterType="String">
        delete from U5EVENTFILE where wof_wo = #{evtCode} and wof_bidline is not null
    </delete>

    <delete id="cleanEventFiles" parameterType="String">
        delete from U5EVENTFILE where wof_wo = #{evtCode} and wof_bidline is null
    </delete>
</mapper>